#About {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  .image {
    max-width: 500px;
    margin: auto 10px auto 10px;
    img {
      border-radius: 50%;
      height: 150px;
      width: 150px;
    }
  }
  div {
    margin: 10px;
    p {
      max-width: 500px;
    }
  }
}