$size: 40px;
$mainBackgroundColor: #1c1f24;

#Projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .project {
    display: flex;
    flex-direction: column;
    width: 48%;
    word-wrap: break-word;
    justify-self: left;
    background-color: #1c1f24;
    color: white;
    margin: 10px;
    border-radius: 10px;
    text-align: left;
    a {
      color: white;
      font-style: italic;
      text-underline: white;
      margin: 15px;
    }
    p {
      margin: 5px;
      font-weight: bold;
    }
    .title-wrapper {
      flex-wrap: wrap;
      margin: 10px;
      display: flex;
      justify-content: space-between;
    }
    .project-content {
      margin: 15px;
    }
    .tags {
      display: flex;
      > div {
        margin: 4px;
      }
    }
    .links {
      display: flex;
      justify-content: flex-end;
      float: right;
      bottom: 0;
      right: 0;
    }
  }

}