$size: 50px;

#Skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  .skills-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 370px;
    justify-content: center;
  }

  div {
    margin: 10px;
    p {
      text-decoration: underline;
    }

  }
}