@import "../../global-style/animations";
@import "../../global-style/_background";
$spin-time: 0.5s ease;

#Contact {
  text-align: left;
  width: 100%;
  color: white;
  height: auto;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  p {
    width: 100%;
  }
  .copyrights {
    font-size: 12px;
    text-align: center;
    padding: 10px;
  }
  .content {
    margin: 0 5px 0 5px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }
  .section {
    max-width: 292px;
    @media (max-width: 600px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .spinning-icon {
      background-color:white;
      border-radius: 50%;
      margin: 5px;
      &:hover {
        transition: filter $spin-time;
        animation: spin $spin-time;
      }
      &:not(hover) {
        transition: filter $spin-time;
        animation: spin-reverse $spin-time;
      }
    }

  }

}